<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>439284444871-li7lilfaqbm8ospom9k0ldfbbdgnd91l.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.439284444871-li7lilfaqbm8ospom9k0ldfbbdgnd91l</string>
	<key>API_KEY</key>
	<string>AIzaSyB05onmoOTX3rHq5invFCK_DsZZvZ_qip0</string>
	<key>GCM_SENDER_ID</key>
	<string>439284444871</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alina.p.Hemitage</string>
	<key>PROJECT_ID</key>
	<string>hemitage-60f4a</string>
	<key>STORAGE_BUCKET</key>
	<string>hemitage-60f4a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:439284444871:ios:65ee873b59172be3c998e2</string>
</dict>
</plist>